<div id = "side_bar">
  
  <%= t('views.profiles.create_events_msg') unless @profile.user.events.any? %>

  
  <% if @profile.user.events.any? %>
    <h2><%= t('views.profiles.events_I_created') %></h2>
      <%= render @profile.user.events  %>
  <% end %>
  
</div>