
body
{
	margin: 0;
	padding: 0;
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	color: #000;
	background: #fff;
}

a 
{
  color: #B54E13;
  text-decoration: none;
}

a:hover 
{
  background-color:#F7AC2C;
  color:#FFFFFF;
}

.notice { color: green; }
.alert { color: red; }

/* ------------------------------
container styles
------------------------------ */
#container
{
  margin: 1em auto;
	width: 900px;
	text-align: left;
}


/* ------------------------------
header styles
------------------------------ */

#header
{
  color: #B54E13;
	height: 200px;
	border-bottom: 2px solid #000;
}

#header #logo
   {
    float: left;
  }

#header #language_bar 
    {
    float: right;
    color: #f00;
    
  }
  
#header #language_bar a 
    {
  color: #d22;
  text-decoration: none;
  }

#header #language_bar a:hover 
{
  background-color:#d22;
  color:#FFFFFF;
}
  

/* ------------------------------
nav_bar
------------------------------ */
#nav_bar
{
  clear: both;
  padding: 0px 50px 10px;
}

/* ------------------------------
side bar
------------------------------ */
#side_bar
{
	float: left;
	width: 200px;
	padding-left: 15px;
	padding-right: 15px;
  font-size: 85%;
  border-right: 1px solid #000
}

/* ------------------------------
contents styles
------------------------------ */

#contents
{
	float: right;
	width: 650px;
}

  .event{ 
  clear: both;
  border-bottom: 1px solid #000; 
  width: 100%;
  float: left;
  }
  
    .artist_date_container{
    clear: both;
    width: 100%;
    }
    
      .artist_block{
      float: left;
      padding: 2px;
      width: 80%;
      }
    
    
      .date_block{
       float: right;
       padding-top: 10px;
       text-align: center;
       width:20%;
      }
    
    .venue_favourites_container{
    clear: both;
    width: 100%;
    }
  
      .venue_block{
      float: left;
      width: 80%;
      }
    
    
      .favourites_link {
      width: 20%;
      float: right;
      font-size: 90%;
      }
    
  
  #contents  .event .artist_block .explanation
    {
  display:none;
  font-weight: normal;
  font-size: 90%;
  }

  #contents .event .artist_block:hover .explanation
    {
  display: inline;
  }
  
  #contents  .event .venue_name .explanation
    {
  display:none;
  font-weight: normal;
  font-size: 90%;
  }

  #contents .event .venue_name:hover .explanation
    {
  display: inline;
  }
  
  /* ------------------------------
footer styles
------------------------------ */

#footer
{
	clear: both;
	color: #fff;
	background: #333;
	text-align: right;
  font-size: 90%;
	padding: 1px
}

/* ------------------------------
forms and errors
------------------------------ */

iv.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}