
body
{
	margin: 0;
	padding: 0;
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	color: #000;
	background: #fff;
}

a 
{
  color: #B54E13;
  text-decoration: none;
}

a:hover 
{
  background-color:#F7AC2C;
  color:#FFFFFF;
}

.notice { color: green; }
.alert { color: red; }

/* ------------------------------
container styles
------------------------------ */
#container
{
  margin: 1em auto;
	width: 900px;
	text-align: left;
}


/* ------------------------------
header styles
------------------------------ */

#header
{
  color: #B54E13;
	height: 200px;
	border-bottom: 2px solid #000;
}

#header #language_bar 
{
  float: right;
  color: #c33;
}

#header #title 
{
  float: left;
}
/* ------------------------------
nav_bar
------------------------------ */
#nav_bar
{
  float: left;
  padding: 0px 50px 10px;
}

/* ------------------------------
side bar
------------------------------ */
#side_bar
{
	float: left;
	width: 200px;
	padding-left: 15px;
	padding-right: 15px;
  font-size: 85%;
  border-right: 1px solid #000
}

/* ------------------------------
contents styles
------------------------------ */

#contents
{
	float: right;
	width: 650px;
}

  .event_listing
    { 
    padding: 5px;
    border-bottom: 1px solid #000; 
  }


/* ------------------------------
footer styles
------------------------------ */

#footer
{
	clear: both;
	color: #fff;
	background: #333;
	text-align: right;
  font-size: 90%;
	padding: 1px
}

/* ------------------------------
forms and errors
------------------------------ */

iv.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}