<div class="event_listing">
  
  <h2>
    <% event.artists.each do |artist| %>  
	    <%= link_to artist.name, artist %><br>
	  <% end %>
  </h2>
  <p>at  <%= link_to event.venue.name, event.venue unless event.venue.nil? %><br />
  <%= event.start_time.to_formatted_s(:short) %><br />
  <%= link_to t('views.events.more_info'), event %> 
</div>