

<h1>Popular shows</h1>

<table border=1 cellpadding=10 rules=rows frame=hsides>
  <tr>
    <th>Artists</th>
    <th>Venue</th>
    <th>Date</th>
    <th></th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
</table>

<%= render @events %>
<br>


