<div id="header">
    <div id="logo">
      <%= image_tag("logo3.png", :alt => "Live Giraffe Logo") %>
    </div>
    <div id="language_bar">
      <%= link_to "LG English", url_for(:locale => 'enlg') unless I18n.locale == :enlg %><br />
      <%= link_to "Français", url_for(:locale => 'frca') unless I18n.locale == :frca %><br />
      <%= link_to "English", url_for(:locale => 'enca') unless I18n.locale == :enca %>
    </div>
</div>