<div id="header">
    <div id="logo">
      <%= image_tag("logo.png", :alt => "Live Giraffe Logo") %>
    </div>
    <div id="language_bar">
      <%= link_to "English", url_for(:locale => 'enlg') unless I18n.locale == :enlg %>
      <%= link_to "Français", url_for(:locale => 'frca') unless I18n.locale == :frca %>
    </div>
</div>